<div ng-include="'views/partials/nav.html'"></div>
<div class="container">

  <h1 id="welcome" class="lead">Welcome, {{uc.userObject.userName}}!</h1>
  <button class="btn btn-default" ng-click="uc.userService.logout()">Log Out</button>

  <h2>{{uc.prompt}}</h2>
  <div class="">
    <input type="text" name="" ng-model="uc.newGoal.name">
    <button type="button" ng-click="uc.addGoal()">Add</button>
  </div>
  <div ng-repeat="oneGoal in uc.existingGoal">
      <h3>This is a goal: {{oneGoal.goal}}</h3>
  </div>
  <div>
    <h4>Mark Goal Completed for {{}}</h4>

  </div>

</div>
