<div ng-include="'views/partials/nav.html'"></div>
<div class="container">
  <h2>{{uc.prompt}}</h2>
  <div class="">
    <input type="text" name="" ng-model="uc.newGoal.name">
    <button type="button" ng-click="uc.addGoal()">Add</button>
  </div>
  <h4>Mark Goal Completed or Not Completed for {{uc.date |  date : "mediumDate" }}</h4>
  <div ng-repeat="oneGoal in uc.existingGoal">
    <h3 class="individualGoalOnList">{{oneGoal.goal}}</h3>
    <div class="col-lg-6">
      <div class="input-group">
        <span class="input-group-addon">
          <input ng-click="uc.markGoalCompletedToggle(oneGoal)" type="checkbox" aria-label="Checkbox for following text input">
        </span>
      </div>
    </div>
  </div>
  <div>

    <button ng-click="uc.completedToday(oneGoal)">DONE!</button>
  </div>

</div>
