html, body {
  height: 100%;
  color: white; }

body {
  background-image: url("http://eskipaper.com/images/free-nature-backgrounds-1.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #999; }

div, body {
  margin: 0;
  padding: 0; }

.container {
  background-color: indigo; }

.wrapper {
  height: 100%;
  width: 100%; }

a {
  background-color: #2196F3; }

a:hover {
  background-color: #0c7cd5; }

.small-blue-square {
  width: 20px;
  height: 20px;
  background-color: blue; }
